* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', 'Calibri';
}

body {  
    background: #081b29;
    color:#ffffff;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}



.navbar a {
font-size: 26px;
color: #ffffff;
text-decoration: none;
margin: 40px;
font-family: 'calibri';
transition: 1s;


}
.navbar a:hover {
    color: #081b29;
}


.content-home img {
    position: absolute;
    z-index: -1;
    top: 500px;
    right: 1375px;
    opacity: 60%;


}


.content-home h1 {
    font-size: 56px;
    font-weight: 700;
    margin: auto;


   

}

.content-home h3 {
    font-size: 30px;
    font-weight: 700;

}

.content-home p {
    font-size: 20px;
    
}

.icons-nav {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.icons-nav a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;

}


